{% extends 'index.html' %} 

{% block title %}| About {% endblock %}

{% block body %}
<section>
  <h2 class="section-title">About</h2>

  <p class="center profiles">
    Motivated college student pursuing a degree in Computer Science Education,
    passionate about software development and eager to gain professional
    experience. Familiar with software development languages, frameworks, and
    tools. Committed to continuous learning and expanding knowledge in the field
    of technology. A dedicated team player with strong communication and
    collaboration skills, ready to contribute effectively in a dynamic work
    environment.
  </p>
</section>
{% endblock %}
