{% extends 'index.html' %} 

{% block title %}| Achievements {% endblock %}

{% block body %}
<section>
    <div>
      <h2 class="section-title">Achievements</h2>
      
      <table class="resume-table">
        <tr>
          <td>
            <p style="font-weight: 700">
              1st place Turnamen Sains Data Nasional 2023 Student Category
            </p>
            <p style="font-style: italic">
              Cybertrend Data Academy, Asosiasi Data Sains dan AI
            </p>
          </td>
          <td class="right">
            <p>December 2022</p>
          </td>
        </tr>
        <tr>
          <td>
            <p style="font-weight: 700">2nd place Programming Contest AE-FEST 2022</p>
            <p style="font-style: italic">HIMAMO Polman Bandung</p>
          </td>
          <td class="right">
            <p>March 2022</p>
          </td>
        </tr>
      </table>
    </div>
</section>
{% endblock %}
