{% extends 'index.html' %} 

{% block title %}| Education {% endblock %} 

{% block body %}
<section>
  <div>
    <h2 class="section-title">Education</h2>
  
    <table class="resume-table">
      <tr>
        <td>
          <p style="font-weight: 700">Universitas Pendidikan Indonesia</p>
          <p style="font-style: italic">
            Bachelor of Education, Computer Science Education
          </p>
        </td>
        <td class="right">
          <p>Bandung, Indonesia</p>
          <p>July 2023 - Present</p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="font-weight: 700">SMK Negeri 4 Bandung</p>
          <p style="font-style: italic">
            Vocational School Diploma, Software Engineering Major
          </p>
        </td>
        <td class="right">
          <p>Bandung, Indonesia</p>
          <p>July 2020 – July 2023</p>
        </td>
      </tr>
    </table>
  </div>
</section>
{% endblock %}
