{% extends 'index.html' %} 

{% block title %}| Experience {% endblock %} 

{% block body %}
<section>
  <div>
    <h2 class="section-title">Experience</h2>
  
    <table class="resume-table">
      <tr>
        <td>
          <p style="font-weight: 700">GoTo Impact Foundation</p>
          <p style="font-style: italic">Full Stack Engineer</p>
        </td>
        <td class="right">
          <p>Remote</p>
          <p>Juni 2023 – December 2023</p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="font-weight: 700">Wastehub</p>
          <p style="font-style: italic">Backend Developer</p>
        </td>
        <td class="right">
          <p>Remote</p>
          <p>September 2023 – November 2023</p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="font-weight: 700">Rupbasan Kelas 1 Bandung</p>
          <p style="font-style: italic">Software Engineer Intern</p>
        </td>
        <td class="right">
          <p>Bandung, Indonesia</p>
          <p>April 2022 – July 2022</p>
        </td>
      </tr>
    </table>
  </div>
</section>
{% endblock %}
