{% extends 'index.html' %} 

{% block title %}| Projects {% endblock %}

{% block body %}
<section>
    <div>
      <h2 class="section-title">Skills</h2>
      
      <p class="skills">
          Javascript, Python, PHP, Laravel, React, Bootstrap, Tailwind, Express, Flutter, Firebase, MySQL, MongoDB, Git
      </p>
    </div>
    
    <div>
      <h2 class="section-title">Projects</h2>
      
      <div class="projects">
        <h3>Rubabox</h3>
        <p>
          Led a project team of two members to develop Rubabox, a web application
          designed to efficiently manage files at Rupbasan Kelas 1 Bandung, utilizing
          Laravel and Bootstrap to enhance worker productivity.
        </p>
      </div>
      
      <div class="projects">
        <h3>Schedus Admin</h3>
        <p>
          Planned and developed Schedus Admin with a two-member team, a web
          application for managing data in the Schedus Mobile App, leveraging React
          and Firebase for streamlined functionality.
        </p>
      </div>
      
      <div class="projects">
        <h3>Sm4rty</h3>
        <p>
          Engineered Sm4rty alongside a teammate, a web application to manage MQTT
          hardware for remotely controlling electricity and water pumps in a school
          setting, using Laravel and Tailwind for optimal performance.
        </p>
      </div>
    </div>
</section>
{% endblock %}
